<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
    <form action="/add" enctype="multipart/form-data" method="post">
        <label for="name">Name:</label>
        <input type="text " name="name" />
        <label for="image">Image:</label>
        <input type="file" id="iameg" name="file" required />
  
        <button type="submit">Submit</button>
      </form>
    </div>
      <div>
        <ul class="result">
          <% users.forEach(user => { %>
          <li>
            <p><%= user.name %></p>
  
            <img
              src="/uploads/<%= user.file %>"
              alt=""
              width="200"
              height="250"
            />
          </li>
          <% }) %>
        </ul>
      </div>
</body>
</html>